<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

{#    <script type="text/javascript">#}
{#        function page(pagenow) {#}
{#            $.ajax({#}
{#                    type:'GET',#}
{#                    url:'/goods/goods_page',#}
{#                    data:{'pagenow':pagenow},#}
{#                    success:function (value) {#}
{#                        var goods_list = eval('('+value['goods_list']+')')#}
{#                        var page_range = eval('('+value['page_range']+')')#}
{#                        var pagenow = value['pagenow']#}
{##}
{##}
{#                        var trs = ''#}
{#                        for (var i=0;i<goods_list.length;i++){#}
{#                            var g = goods_list[i]#}
{#                            var gtitle = g.fields.gtitle#}
{#                            var gpic = g.fields.gic#}
{#                            var gprice = g.fields.gprice#}
{#                            var gunit = g.fields.gunit#}
{#                            var id = g.id#}
{#                            trs = '{% for good in goods_id%}'#}
{#                            trs+="<a href=\"/goods/"#}
{#                            trs+={{ good.id }}#}
{#                            trs+="/\"><img src=\"/static/media/"#}
{#                            trs+={{ good.gpic }}#}
{#                            trs+="\"></a><h4><a href=\"/goods/"#}
{#                            trs+={{ good.id }}#}
{#                            trs+="/\">"#}
{#                            trs+={{ good.gtitle }}#}
{#                            trs+="</a></h4><div class=\"operate\"><span class=\"prize\">￥"#}
{#                            trs+={{ good.gprice }}#}
{#                            trs+="</span><span class=\"unit\">"#}
{#                            trs+={{ good.gprice }}#}
{#                            trs+="/"#}
{#                            trs+={{ good.gunit }}#}
{#                            trs+="</span><a href=\"#\" class=\"add_goods\" title=\"加入购物车\"></a></div></li>"#}
{#                            trs+='{% endfor %}'#}
{#                        };#}
{#                        $("#goods_type_list").html(trs)#}
{##}
{##}
{#                        var tr="<a href='#'><上一页</a>"#}
{#                        for(var i=0;i<page_range.length;i++){#}
{#                            var pagenum = page_range[i]#}
{##}
{#                            if(pagenum==pagenow){#}
{#                                tr+="<a href='#' class='active'>"#}
{#                                tr+=pagenum#}
{#                                tr+="</a>"#}
{#                            }else{#}
{#                                tr+="<a href='#'>"#}
{#                                tr+=pagenum#}
{#                                tr+="</a>"#}
{#                             }#}
{#                        };#}
{#                        tr+="<a href='#'>下一页></a>"#}
{#                        $("#pagenation").html(tr)#}
{#                    }#}
{#            })#}
{#        }#}
{#        function page_click() {#}
{#            $("#pagenation").on('click','a',function () {#}
{#                page($(this).html())#}
{#                return false#}
{#            })#}
{#        }#}
{#        $(function () {#}
{#            page(1)#}
{#            page_click()#}
{#        })#}
{##}
{#    </script>#}

</head>
<body>

	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				{% if request.session.currentUser|default:'' != '' %}
                    <div class="login_state"><span>欢迎您：</span><a href="/user/user_center">{{ request.session.currentUser }}</a><span>|</span>
                    <a href="/goods/logout">退出</a></div>
                    {% else %}
                    <div  class="login_in"><a href="/user/login">登录</a><span>|</span>
                    <a href="/user/register">注册</a></div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/user_center">用户中心</a>
					<span>|</span>
					<a href="/shopping_cart/">我的购物车</a>
					<span>|</span>
					<a href="/order/order_list">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="/goods/index" class="logo fl"><img src="/static/image/logo.png"></a>
		<div class="search_con fl">
            <form action="/goods/goods_search" method="get">
                <input type="text" class="input_text fl" name="keyword" {% if keyword %} value="{{ keyword }}" {% else %} placeholder="搜索商品" {% endif %}>
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
		<div class="guest_cart fr">
			<a href="/shopping_cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">{% if cart_count %}{{ cart_count }}{% else %}0{% endif %}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/list/1/1/1" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list/2/1/1" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list/3/1/1" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list/4/1/1" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list/5/1/1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list/6/1/1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goods/index">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="/goods/luck">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods/index">全部分类</a>
		<span>></span>
		<a href="/goods/list/{{ l.id }}/1/1">{{ title }}</a>
	</div>

	<div class="main_wrap clearfix">


		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for newgood in newgoods %}
					<li>
						<a href="/goods/{{ newgood.id }}/"><img src="/static/media/{{ newgood.gpic }}"></a>
						<h4><a href="/goods/{{ newgood.id }}/">{{ newgood.gtitle }}</a></h4>
						<div class="prize">￥{{ newgood.gprice }}</div>
					</li>
                    {% endfor %}

				</ul>
			</div>
		</div>
		<div class="r_wrap fr clearfix">

			<div class="sort_bar">
				<a href="/goods/list/{{ l.id }}/1/1" {% if sort == '1' %} class="active"{% endif %}>默认</a>
				<a href="/goods/list/{{ l.id }}/1/2" {% if sort == '2' %} class="active"{% endif %}>价格</a>
				<a href="/goods/list/{{ l.id }}/1/3" {% if sort == '3' %} class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix" id="goods_type_list">
                {% for goods in page %}
                <li>
					<a href="/goods/{{ goods.id }}/"><img src="/static/media/{{ goods.gpic }}"></a>
					<h4><a href="/goods/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.gprice }}</span>
						<span class="unit">{{ goods.gprice }}/{{ goods.gunit }}</span>
						<a href="/shopping_cart/add/{{ goods.id }}/1" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}

			</ul>

			<div class="pagenation" id="pagenation">
                {% if page.has_previous %}
                    <a href="/goods/list/{{ l.id }}/{{ page.previous_page_number }}/{{ sort }}"><上一页</a>
                {% endif %}


                {% for pindex in pageinator.page_range %}
                    {% if pindex == page.number %}
                        <a href="#" class="active" onclick="return false">{{ pindex }}</a>
                    {% else %}
                        <a href="/goods/list/{{ l.id }}/{{ pindex }}/{{ sort }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <a href="/goods/list/{{ l.id }}/{{ page.next_page_number }}/{{ sort }}">下一页></a>
                {% endif %}

			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>